--extra-index-url https://download.pytorch.org/whl/cu118
--find-links https://data.pyg.org/whl/torch-2.5.1+cu118.html

torch==2.5.1
torchvision==0.20.1
torch-geometric
torch-scatter
torch-sparse
torch-cluster
torch-spline-conv

numpy
pandas
pillow
matplotlib
seaborn
scikit-learn
scipy
tqdm